.input{
  width: 80%;
  background-color: transparent;
  border: none;
  border-radius: 0px;
  border-bottom: 2px solid rgb(24, 141, 252);
  transition: all .8s;
}
.input:focus{
  background: transparent;
  box-shadow: none;
  border-bottom: 2px solid rgb(0, 218, 54);
}